@{
    ViewData["Title"] = "Criar";
}

<form id="form" action="Create" method="post">
    <label for="id">Id</label>
    <input type="number" name="id" id="id">

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">

     <label for="piso">Piso</label>
    <input type="text" name="piso" id="piso">

     <label for="desc">Descricao</label>
    <input type="text" name="desc" id="desc">

    <label for="tipo">Tipo</label>
    <input type="text" name="tipo" id="tipo">

    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    
    <button type="submit">Criar</button>
</form>